.go2713103140{
    background-color: #293039;
    color:white;
}
.go1822107527{
    color: #293039;
}
.go1798861395 {
    background-color: #293039;
    color:white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}
.bp3-button-text{
    color: #333f48;
}
.polotno-panel-container{
    background-color: #333f48;
    color:white;
    overflow: auto;

};
.bp3-tab{
    color: white !important;
}
.bp3-dark .go906858498 .polotno-text-preview-plain{
    filter: inherit;
}
.bp3-button .bp3-minimal{
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 5px;
    font-family: Roboto;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 5px;
}
#modalLink{
    position: relative;
}
#modal{
    position: absolute;
    top:81px;
    left: 375px;
    border: 1px solid black;
    background: white;

}

.addInput{
    width: 95%;
    margin-left: 7px;
    margin-top: 10px;
}
.aButton{
    margin-left: 106px;
    margin-right: 8px;
    margin-top: 5px;
}
.addLinkButton{
    margin-left: 197px;
    margin-top: 5px;
    cursor: pointer;
}
.div_button{
    border-bottom: 1px solid black;
    height: 43px;
    padding: 13px;
}
.tabButton{
    border: none;
    margin-right: 15px;
    cursor: pointer;
}
.tabButton:hover{
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.233);
}
.tabOne ::after{
    border-right: 1px solid black;
}
.tabTwo ::after{
    border-left: 1px solid black;
}
.addlink{
    margin-top: 13px;
    margin-left: 195px;
    cursor: pointer;
}
.font{
    width: 170px;
    border: 1px solid #00000045;
    border-radius: 50px;
    height: 28px;
    text-align: center;
}
.font .bp3-icon-caret-down{
    margin-left: 70px;
}
.inputNum{
    width: 50px;
    text-align: center;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid #00000045;
    border-right: 1px solid #00000045;
    height: 26px;
}
.divInput{
    margin-left: 10px;
    border: 1px solid #00000045;
    border-radius: 14px;
    width: 94px;
    text-align: center;
    height: 28px;
}
.imgLink{
   position: relative;
};
#modalLinkImg{
    position: relative;
}
#modalImg{
    position: absolute;
    top:81px;
    left: 3px;
    border: 1px solid black;
    background: white;

}
.slickTemplate{
    margin-bottom: 20px;
}
.tabLink{
    display: inline-block;
    font-size: 11px;
    height: 30px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    width: 100%;
    display: inline-block;
    background: #0e0d0d00;
    color: #ffffff8c;
    border: 1px solid #00000066;
    margin-left: 2px;
}
.slick-slider{
    width: 239px;
    margin-left: 19px;
}
.search{
    position: relative;
    
    margin-bottom: 10px;
}
.icon{
    position: absolute;
    top: 0;
    left: 257px;
    color: rgba(0, 0, 0, 0.295);
    font-size: 19px;
    margin: 5px 0;
}
.inputSearch{
    width: 282px;
    height: 29px;
}
.imgTemp{
    width: 80px !important;
}
.slickAll{
    margin-bottom: 20px;
}
.slickAll .slick-slide{
    width: 90px !important;
}
.slick_text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}