.go2713103140{
    background-color: #293039;
    color:white;
};
.go1822107527{
    color: #293039;
}
.go1798861395 {
    background-color: #293039;
    color:white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}
.bp3-button-text{
    color: #333f48;
}
.polotno-panel-container{
    background-color: #333f48;
    color:white;
    overflow: auto;

};
.bp3-tab{
    color: white !important;
}
.bp3-dark .go906858498 .polotno-text-preview-plain{
    filter: inherit;
}
.bp3-button .bp3-minimal{
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 5px;
    font-family: Roboto;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 5px;
}
.go4160152499::-webkit-scrollbar-track {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 0;
    background-color: #404040;
  }
.go4160152499::-webkit-scrollbar{
    width: 10px;
    
}
.go4160152499::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: grey;
    border: 1px solid #000;
  }

    #modalLink{
        position: relative;
       
    }
    #modal{
        position: absolute;
        top:81px;
        left: 375px;
        border: 1px solid black;
        background: white;
    
    }
   
    .addInput{
        width: 95%;
        margin-left: 7px;
        margin-top: 10px;
    }
  
